{% ckan_extends %}
            {% block resource_actions_inner %}
            {% if h.check_access('package_update', {'id':pkg.id }) %}
              <li>{% link_for _('Manage'), controller='package', action='resource_edit', id=pkg.name, resource_id=res.id, class_='btn', icon='wrench' %}</li>
            {% endif %}
            {% if res.url and h.is_url(res.url) %}
              <li>
                <div class="btn-group">
                <!-- <a class="btn btn-primary resource-url-analytics resource-type-{{ res.resource_type }}" href="{%  url_for 'get_resource_url', dataset_id=pkg.id, resource_id=res.id %}"> -->
                <a class="btn btn-primary resource-url-analytics resource-type-{{ res.resource_type }}" href="{{ res.url }}">
                  {% if res.resource_type in ('listing', 'service') %}
                    <i class="fa fa-eye"></i> {{ _('View') }}
                  {% elif  res.resource_type == 'api' %}
                    <i class="fa fa-key"></i> {{ _('API Endpoint') }}
                  {% elif not res.has_views and not res.url_type == 'upload' %}
                    <i class="fa fa-external-link"></i> {{ _('Go to resource') }}
                  {% else %}
                    <i class="fa fa-arrow-circle-o-down"></i> {{ _('Download & Log') }}
                  {% endif %}
                </a>
                </div>
              </li>
            {% endif %}
            {% endblock %}
          