{% extends "package/resource_edit_base.html" %}

{% block subtitle %}{{ h.dataset_display_name(pkg) }} - {{ h.resource_display_name(res) }}{% endblock %}

{% block primary_content_inner %}
  <h3 class="page-heading">{{ _('{0} User Activities'.format(logs|length)) }}</h3>
  <table class="table table-header table-hover table-bordered" id="member-table">
    <thead>
      <tr>
        <!-- <th>{{ _('Package Id') }}</th>
        <th>{{ _('Resource Id') }}</th> -->
        <th>{{ _('User Id') }}</th>
        <th>{{ _('TimeStamp') }}</th>
      </tr>
    </thead>
    <tbody>
      {% for log in logs %}
      <tr>
        <!-- <td>{{ log.package_id }}</td>
        <td>{{ log.resource_id }}</td> -->
        <td>{{ log.user_id }}</td>
        <td>{{ log.created }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
